! URxvt
URxvt.termName:             rxvt-unicode-256color
URxvt.geometry:             80x24
URxvt.transparent:          false
URxvt.reverseVideo:         false
URxvt.perl-ext-common:      default,url-select,vtwheel,tabbedex
URxvt.tabbed.autohide:      true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/xdg-open
URxvt.url-select.button:    3
URxvt.url-select.underline: true
URxvt.iso14755:             false
URxvt.iso14755_52:          false
URxvt.tintColor:            #dfdfdf
!URxvt.font:                 -akim-akimfont-medium-r-normal--14-*-*-*-c-*-iso10646-*,xft:Symbola:pixelsize=11
URxvt.scrollBar:            false
URxvt.scrollBar_floating:   false
URxvt.scrollBar_right:      false
URxvt.scrollColor:          #000000
URxvt.saveLines:            5500
URxvt.cursorColor:          #3ec2ff
URxvt.pointerBlank:         True
URxvt.pointerBlankDelay:    3
URxvt.colorBD:              lightyellow
URxvt.letterSpace:          0
URxvt.hold:                 False
URxvt.urgentOnBell:         True


URxvt*inheritPixmap: true
URxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*shading: 110

URxvt.font:                 xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=14:antialias=true,hinting=true
URxvt.boldFont:             xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=14:antialias=true,hinting=true
URxvt.italicFont:           xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=14:antialias=true,hinting=true
URxvt.bolditalicFont:       xft:inconsolata:pixelsize=14:antialias=true:hinting=true, xft:dejavu sans mono:pixelsize=14:antialias=true,hinting=true

#ifdef COLOR
  #include ".config/Xcolors/ge0"
#endif
